In [8]:
print("hello world")

hello world

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/geoffswc/IntroToPythonPart2/master/data/gapminder_all.csv')

In [11]:
#!pip install pandasql

In [12]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [13]:
pysqldf("SELECT continent, COUNT(continent) FROM df GROUP BY continent")

  continent  COUNT(continent)
0    Africa                52
1  Americas                25
2      Asia                33
3    Europe                30
4   Oceania                 2